body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

#result {
    margin-top: 20px;
    text-align: center;
}

#processedImage {
    max-width: 100%;
    height: auto;
}
